@using TranslatorApp.Enums

@{
    ViewData["Title"] = "Translate form";
}

<h2>@ViewData["Title"]</h2>

<div class="card">
    <form style="display:flex; flex-direction:column" method="post" asp-action="Submit">
        <div class="card-body">
            <div>
                <label for="userInput" required>Text for translation:</label>
                <textarea id="userInput" name="userInput" class="form-control" rows="10"></textarea>
            </div>
            <div style="padding: 10px">
                <label for="language">Choose a language:</label>
                <select id="inputState" class="form-control" name="language" id="language">
                    @foreach (var language in Enum.GetValues(typeof(Language)))
                    {
                        <option value="@language" selected>@language</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="margin: 5px;">Translate</button>
        </div>
    </form>
</div>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
}